.bookdetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addbook, .addbook form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.deletebook, .deletebook form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header::before{
    content: "";
    position: absolute;
    background: url("bg3.jpg") no-repeat center center/cover;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.line{
    width: 350%;
    height: 5px;
    /* position: absolute; */
    background-color: black;border: none;
    margin: 2px;
    opacity: 0.80;
}
/* .addbook{
    background-color: whitesmoke;
    opacity: 0.60;
} */

.form{
    /* background-color: whitesmoke;
    opacity: 0.50; */
    width: 300%;
    border-radius: 20px;
}
.form input{
    width: 80%;
    font-size: 1rem;
    margin: 13px;
    padding: 9px;
    background: black;
    opacity: 0.80;
    border: none;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 40px;
}
.btn{
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 40px;
    font-size: 1.2rem;
    background-color: rgb(122, 4, 4);
    color: whitesmoke;
    z-index: 2;
    border: none;
    width: 30%;
}
.btn:active{
    color: rgb(122, 4, 4);
    background-color: whitesmoke;
    cursor: pointer;
}
.btn:hover{
    cursor: pointer;
}
h1{
    padding: 0px 0px;
    margin-bottom: 0px;
    margin-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    /* text-shadow: -1px 1px 0 rgb(255, 255, 255),-1px 1px 0 rgb(255, 255, 255),-1px 1px 0 rgb(255, 255, 255); */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-weight: bolder;
}

.fa-arrow-circle-left{
    color: rgb(210, 87, 30);
    /* width: 40px; */
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 2.2rem;
}
.fa-arrow-circle-left:hover{
    color: rgb(255, 255, 255);
    /* width: 40px; */
   
}
.addbook h1{
    margin-top: 10px;
}
